.App {
  background-image: url('./images/bg-image.png');
  background-repeat:repeat;
  height: 100%;
}
p, h1, h2, h3, h4, h5, h6 {
  color:white;
}

.content {
  width: 100%;
  margin: 0;
  padding: 50px 10%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  flex: 1;
  min-height: 100vh;
}